* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-image: url("assets/worldmap.png");

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  height: 200px;
  border-radius: 20px;
}

main {
  width: 390px;
  max-width: 390px;
}

header div {
  display: flex;
  align-items: center;
 

